@charset "UTF-8";
/* v2.0 重构版 2025/6/10 */
.c-btn {
  outline: none;
  border: none;
  padding: 10px 40px;
  font-size: 15px;
  text-align: center;
}
@media (prefers-color-scheme: light) {
  .c-btn {
    background: #000000;
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  .c-btn {
    background: white;
  }
}

.text-white {
  color: white !important;
}

.btn-bold {
  font-weight: bold;
}

.border-bold {
  border-width: 10px;
}

.square {
  border-radius: 0px;
}

.radius {
  border-radius: 50px;
}

.circle {
  padding: 6px 15px;
  border-radius: 100px;
  font-size: 20px;
  text-align: center;
}

.less-padding {
  padding: 10px;
}

.no-padding {
  padding: 0px;
}

.flat {
  padding: 3px 30px;
  text-align: center;
}

.padding {
  padding: 10px 40px;
}

.icon {
  padding: 10px 12px 8px 12px;
}

.sm {
  padding: 6px 30px;
  font-size: 14px;
}

.md {
  padding: 10px 35px;
  font-size: 18px;
}

.lg {
  padding: 14px 40px;
  font-size: 22px;
}

.block {
  padding: 12px 80px;
}

.full-block {
  width: 100%;
  padding: 12px 0;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(250, 250, 250, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.hover-glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(250, 250, 250, 0.2);
  transition: all 0.25s ease;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.hover-glass:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}
.hover-glass:active {
  transform: scale(0.96);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.active {
  transition: transform 0.3s ease;
}
.active:active {
  transform: scale(0.94);
}

.mouse-hover {
  transition: transform 0.3s ease;
}
.mouse-hover:hover {
  transform: scale(1.05);
}

.active-with-hover {
  transition: transform 0.3s ease;
}
.active-with-hover:hover {
  transform: scale(1.05);
}
.active-with-hover:active {
  transform: scale(0.95);
}

.red {
  background: rgb(222, 49, 49);
  color: white;
}

.orange {
  background: rgb(239, 99, 43);
  color: white;
}

.tangerine {
  background: rgb(250, 126, 35);
  color: white;
}

.green {
  background: rgb(36, 128, 103);
  color: white;
}

.emerald {
  background: rgb(34, 148, 83);
  color: white;
}

.mint {
  background: rgb(32, 161, 98);
  color: white;
}

.blue {
  background: rgb(36, 134, 185);
  color: white;
}

.ocean-blue {
  background: rgb(14, 176, 201);
  color: white;
}

.deep-blue {
  background: rgb(4, 87, 251);
  color: white;
}

.sea-blue {
  background: rgb(1, 112, 227);
  color: white;
}

.yellow {
  background: rgb(251, 205, 49);
  color: white;
}

.gold {
  background: rgb(252, 195, 7);
  color: white;
}

.purple {
  background: rgb(126, 22, 113);
  color: white;
}

.lilac {
  background: rgb(128, 109, 158);
  color: white;
}

.brown {
  background: rgb(145, 128, 114);
  color: white;
}

.pink {
  background: rgb(232, 122, 144);
  color: white;
}

.shadow-red {
  box-shadow: 0 0 12px 2px rgb(222, 49, 49);
}

.border-red {
  color: rgb(222, 49, 49);
  border: 1px solid rgb(222, 49, 49);
  background: transparent;
}

.border-tran-red {
  background-color: rgb(222, 49, 49);
  border: 2px solid rgb(222, 49, 49);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-orange {
  box-shadow: 0 0 12px 2px rgb(239, 99, 43);
}

.border-orange {
  color: rgb(239, 99, 43);
  border: 1px solid rgb(239, 99, 43);
  background: transparent;
}

.border-tran-orange {
  background-color: rgb(239, 99, 43);
  border: 2px solid rgb(239, 99, 43);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-tangerine {
  box-shadow: 0 0 12px 2px rgb(250, 126, 35);
}

.border-tangerine {
  color: rgb(250, 126, 35);
  border: 1px solid rgb(250, 126, 35);
  background: transparent;
}

.border-tran-tangerine {
  background-color: rgb(250, 126, 35);
  border: 2px solid rgb(250, 126, 35);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-green {
  box-shadow: 0 0 12px 2px rgb(36, 128, 103);
}

.border-green {
  color: rgb(36, 128, 103);
  border: 1px solid rgb(36, 128, 103);
  background: transparent;
}

.border-tran-green {
  background-color: rgb(36, 128, 103);
  border: 2px solid rgb(36, 128, 103);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-emerald {
  box-shadow: 0 0 12px 2px rgb(34, 148, 83);
}

.border-emerald {
  color: rgb(34, 148, 83);
  border: 1px solid rgb(34, 148, 83);
  background: transparent;
}

.border-tran-emerald {
  background-color: rgb(34, 148, 83);
  border: 2px solid rgb(34, 148, 83);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-mint {
  box-shadow: 0 0 12px 2px rgb(32, 161, 98);
}

.border-mint {
  color: rgb(32, 161, 98);
  border: 1px solid rgb(32, 161, 98);
  background: transparent;
}

.border-tran-mint {
  background-color: rgb(32, 161, 98);
  border: 2px solid rgb(32, 161, 98);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-blue {
  box-shadow: 0 0 12px 2px rgb(36, 134, 185);
}

.border-blue {
  color: rgb(36, 134, 185);
  border: 1px solid rgb(36, 134, 185);
  background: transparent;
}

.border-tran-blue {
  background-color: rgb(36, 134, 185);
  border: 2px solid rgb(36, 134, 185);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-ocean-blue {
  box-shadow: 0 0 12px 2px rgb(14, 176, 201);
}

.border-ocean-blue {
  color: rgb(14, 176, 201);
  border: 1px solid rgb(14, 176, 201);
  background: transparent;
}

.border-tran-ocean-blue {
  background-color: rgb(14, 176, 201);
  border: 2px solid rgb(14, 176, 201);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-deep-blue {
  box-shadow: 0 0 12px 2px rgb(4, 87, 251);
}

.border-deep-blue {
  color: rgb(4, 87, 251);
  border: 1px solid rgb(4, 87, 251);
  background: transparent;
}

.border-tran-deep-blue {
  background-color: rgb(4, 87, 251);
  border: 2px solid rgb(4, 87, 251);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-sea-blue {
  box-shadow: 0 0 12px 2px rgb(1, 112, 227);
}

.border-sea-blue {
  color: rgb(1, 112, 227);
  border: 1px solid rgb(1, 112, 227);
  background: transparent;
}

.border-tran-sea-blue {
  background-color: rgb(1, 112, 227);
  border: 2px solid rgb(1, 112, 227);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-yellow {
  box-shadow: 0 0 12px 2px rgb(251, 205, 49);
}

.border-yellow {
  color: rgb(251, 205, 49);
  border: 1px solid rgb(251, 205, 49);
  background: transparent;
}

.border-tran-yellow {
  background-color: rgb(251, 205, 49);
  border: 2px solid rgb(251, 205, 49);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-gold {
  box-shadow: 0 0 12px 2px rgb(252, 195, 7);
}

.border-gold {
  color: rgb(252, 195, 7);
  border: 1px solid rgb(252, 195, 7);
  background: transparent;
}

.border-tran-gold {
  background-color: rgb(252, 195, 7);
  border: 2px solid rgb(252, 195, 7);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-purple {
  box-shadow: 0 0 12px 2px rgb(126, 22, 113);
}

.border-purple {
  color: rgb(126, 22, 113);
  border: 1px solid rgb(126, 22, 113);
  background: transparent;
}

.border-tran-purple {
  background-color: rgb(126, 22, 113);
  border: 2px solid rgb(126, 22, 113);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-lilac {
  box-shadow: 0 0 12px 2px rgb(128, 109, 158);
}

.border-lilac {
  color: rgb(128, 109, 158);
  border: 1px solid rgb(128, 109, 158);
  background: transparent;
}

.border-tran-lilac {
  background-color: rgb(128, 109, 158);
  border: 2px solid rgb(128, 109, 158);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-brown {
  box-shadow: 0 0 12px 2px rgb(145, 128, 114);
}

.border-brown {
  color: rgb(145, 128, 114);
  border: 1px solid rgb(145, 128, 114);
  background: transparent;
}

.border-tran-brown {
  background-color: rgb(145, 128, 114);
  border: 2px solid rgb(145, 128, 114);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.shadow-pink {
  box-shadow: 0 0 12px 2px rgb(232, 122, 144);
}

.border-pink {
  color: rgb(232, 122, 144);
  border: 1px solid rgb(232, 122, 144);
  background: transparent;
}

.border-tran-pink {
  background-color: rgb(232, 122, 144);
  border: 2px solid rgb(232, 122, 144);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.float-down {
  transition: transform 0.3s ease;
}
.float-down:hover {
  transform: translateY(5px);
}

.sm-fat {
  border-radius: 50px;
  padding: 10px 15px;
}

.tag {
  font-size: 0.85em;
  border-radius: 50px;
  padding: 5px 13px;
}

.hover-border-tran-red {
  background-color: transparent;
  border: 2px solid rgb(222, 49, 49);
  color: rgb(222, 49, 49);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-red:hover {
  background-color: rgba(222, 49, 49, 0.1);
  border-color: rgb(222, 49, 49);
  color: rgb(222, 49, 49);
  fill: rgb(222, 49, 49);
}
.hover-border-tran-red:active {
  background-color: rgba(222, 49, 49, 0.2);
  border-color: rgb(222, 49, 49);
  color: rgb(222, 49, 49);
  fill: rgb(222, 49, 49);
}

.hover-border-tran-orange {
  background-color: transparent;
  border: 2px solid rgb(239, 99, 43);
  color: rgb(239, 99, 43);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-orange:hover {
  background-color: rgba(239, 99, 43, 0.1);
  border-color: rgb(239, 99, 43);
  color: rgb(239, 99, 43);
  fill: rgb(239, 99, 43);
}
.hover-border-tran-orange:active {
  background-color: rgba(239, 99, 43, 0.2);
  border-color: rgb(239, 99, 43);
  color: rgb(239, 99, 43);
  fill: rgb(239, 99, 43);
}

.hover-border-tran-tangerine {
  background-color: transparent;
  border: 2px solid rgb(250, 126, 35);
  color: rgb(250, 126, 35);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-tangerine:hover {
  background-color: rgba(250, 126, 35, 0.1);
  border-color: rgb(250, 126, 35);
  color: rgb(250, 126, 35);
  fill: rgb(250, 126, 35);
}
.hover-border-tran-tangerine:active {
  background-color: rgba(250, 126, 35, 0.2);
  border-color: rgb(250, 126, 35);
  color: rgb(250, 126, 35);
  fill: rgb(250, 126, 35);
}

.hover-border-tran-green {
  background-color: transparent;
  border: 2px solid rgb(36, 128, 103);
  color: rgb(36, 128, 103);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-green:hover {
  background-color: rgba(36, 128, 103, 0.1);
  border-color: rgb(36, 128, 103);
  color: rgb(36, 128, 103);
  fill: rgb(36, 128, 103);
}
.hover-border-tran-green:active {
  background-color: rgba(36, 128, 103, 0.2);
  border-color: rgb(36, 128, 103);
  color: rgb(36, 128, 103);
  fill: rgb(36, 128, 103);
}

.hover-border-tran-emerald {
  background-color: transparent;
  border: 2px solid rgb(34, 148, 83);
  color: rgb(34, 148, 83);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-emerald:hover {
  background-color: rgba(34, 148, 83, 0.1);
  border-color: rgb(34, 148, 83);
  color: rgb(34, 148, 83);
  fill: rgb(34, 148, 83);
}
.hover-border-tran-emerald:active {
  background-color: rgba(34, 148, 83, 0.2);
  border-color: rgb(34, 148, 83);
  color: rgb(34, 148, 83);
  fill: rgb(34, 148, 83);
}

.hover-border-tran-mint {
  background-color: transparent;
  border: 2px solid rgb(32, 161, 98);
  color: rgb(32, 161, 98);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-mint:hover {
  background-color: rgba(32, 161, 98, 0.1);
  border-color: rgb(32, 161, 98);
  color: rgb(32, 161, 98);
  fill: rgb(32, 161, 98);
}
.hover-border-tran-mint:active {
  background-color: rgba(32, 161, 98, 0.2);
  border-color: rgb(32, 161, 98);
  color: rgb(32, 161, 98);
  fill: rgb(32, 161, 98);
}

.hover-border-tran-blue {
  background-color: transparent;
  border: 2px solid rgb(36, 134, 185);
  color: rgb(36, 134, 185);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-blue:hover {
  background-color: rgba(36, 134, 185, 0.1);
  border-color: rgb(36, 134, 185);
  color: rgb(36, 134, 185);
  fill: rgb(36, 134, 185);
}
.hover-border-tran-blue:active {
  background-color: rgba(36, 134, 185, 0.2);
  border-color: rgb(36, 134, 185);
  color: rgb(36, 134, 185);
  fill: rgb(36, 134, 185);
}

.hover-border-tran-ocean-blue {
  background-color: transparent;
  border: 2px solid rgb(14, 176, 201);
  color: rgb(14, 176, 201);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-ocean-blue:hover {
  background-color: rgba(14, 176, 201, 0.1);
  border-color: rgb(14, 176, 201);
  color: rgb(14, 176, 201);
  fill: rgb(14, 176, 201);
}
.hover-border-tran-ocean-blue:active {
  background-color: rgba(14, 176, 201, 0.2);
  border-color: rgb(14, 176, 201);
  color: rgb(14, 176, 201);
  fill: rgb(14, 176, 201);
}

.hover-border-tran-deep-blue {
  background-color: transparent;
  border: 2px solid rgb(4, 87, 251);
  color: rgb(4, 87, 251);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-deep-blue:hover {
  background-color: rgba(4, 87, 251, 0.1);
  border-color: rgb(4, 87, 251);
  color: rgb(4, 87, 251);
  fill: rgb(4, 87, 251);
}
.hover-border-tran-deep-blue:active {
  background-color: rgba(4, 87, 251, 0.2);
  border-color: rgb(4, 87, 251);
  color: rgb(4, 87, 251);
  fill: rgb(4, 87, 251);
}

.hover-border-tran-sea-blue {
  background-color: transparent;
  border: 2px solid rgb(1, 112, 227);
  color: rgb(1, 112, 227);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-sea-blue:hover {
  background-color: rgba(1, 112, 227, 0.1);
  border-color: rgb(1, 112, 227);
  color: rgb(1, 112, 227);
  fill: rgb(1, 112, 227);
}
.hover-border-tran-sea-blue:active {
  background-color: rgba(1, 112, 227, 0.2);
  border-color: rgb(1, 112, 227);
  color: rgb(1, 112, 227);
  fill: rgb(1, 112, 227);
}

.hover-border-tran-yellow {
  background-color: transparent;
  border: 2px solid rgb(251, 205, 49);
  color: rgb(251, 205, 49);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-yellow:hover {
  background-color: rgba(251, 205, 49, 0.1);
  border-color: rgb(251, 205, 49);
  color: rgb(251, 205, 49);
  fill: rgb(251, 205, 49);
}
.hover-border-tran-yellow:active {
  background-color: rgba(251, 205, 49, 0.2);
  border-color: rgb(251, 205, 49);
  color: rgb(251, 205, 49);
  fill: rgb(251, 205, 49);
}

.hover-border-tran-gold {
  background-color: transparent;
  border: 2px solid rgb(252, 195, 7);
  color: rgb(252, 195, 7);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-gold:hover {
  background-color: rgba(252, 195, 7, 0.1);
  border-color: rgb(252, 195, 7);
  color: rgb(252, 195, 7);
  fill: rgb(252, 195, 7);
}
.hover-border-tran-gold:active {
  background-color: rgba(252, 195, 7, 0.2);
  border-color: rgb(252, 195, 7);
  color: rgb(252, 195, 7);
  fill: rgb(252, 195, 7);
}

.hover-border-tran-purple {
  background-color: transparent;
  border: 2px solid rgb(126, 22, 113);
  color: rgb(126, 22, 113);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-purple:hover {
  background-color: rgba(126, 22, 113, 0.1);
  border-color: rgb(126, 22, 113);
  color: rgb(126, 22, 113);
  fill: rgb(126, 22, 113);
}
.hover-border-tran-purple:active {
  background-color: rgba(126, 22, 113, 0.2);
  border-color: rgb(126, 22, 113);
  color: rgb(126, 22, 113);
  fill: rgb(126, 22, 113);
}

.hover-border-tran-lilac {
  background-color: transparent;
  border: 2px solid rgb(128, 109, 158);
  color: rgb(128, 109, 158);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-lilac:hover {
  background-color: rgba(128, 109, 158, 0.1);
  border-color: rgb(128, 109, 158);
  color: rgb(128, 109, 158);
  fill: rgb(128, 109, 158);
}
.hover-border-tran-lilac:active {
  background-color: rgba(128, 109, 158, 0.2);
  border-color: rgb(128, 109, 158);
  color: rgb(128, 109, 158);
  fill: rgb(128, 109, 158);
}

.hover-border-tran-brown {
  background-color: transparent;
  border: 2px solid rgb(145, 128, 114);
  color: rgb(145, 128, 114);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-brown:hover {
  background-color: rgba(145, 128, 114, 0.1);
  border-color: rgb(145, 128, 114);
  color: rgb(145, 128, 114);
  fill: rgb(145, 128, 114);
}
.hover-border-tran-brown:active {
  background-color: rgba(145, 128, 114, 0.2);
  border-color: rgb(145, 128, 114);
  color: rgb(145, 128, 114);
  fill: rgb(145, 128, 114);
}

.hover-border-tran-pink {
  background-color: transparent;
  border: 2px solid rgb(232, 122, 144);
  color: rgb(232, 122, 144);
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}
.hover-border-tran-pink:hover {
  background-color: rgba(232, 122, 144, 0.1);
  border-color: rgb(232, 122, 144);
  color: rgb(232, 122, 144);
  fill: rgb(232, 122, 144);
}
.hover-border-tran-pink:active {
  background-color: rgba(232, 122, 144, 0.2);
  border-color: rgb(232, 122, 144);
  color: rgb(232, 122, 144);
  fill: rgb(232, 122, 144);
}

/*# sourceMappingURL=style.css.map */
