$background: #000000
$red: rgb(222, 49, 49)
$blue: rgb(36, 134, 185)
$ocean-blue: rgb(14, 176, 201)  
$deep-blue: rgb(4, 87, 251)
$sea-blue: rgb(1, 112, 227)
$orange: rgb(239, 99, 43)
$tangerine: rgb(250, 126, 35)
$green: rgb(36, 128, 103)
$emerald: rgb(34, 148, 83) 
$mint: rgb(32, 161, 98)
$yellow: rgb(251, 205, 49)
$gold: rgb(252, 195, 7) 
$purple: rgb(126, 22, 113)
$lilac: rgb(128, 109, 158) 
$brown: rgb(145, 128, 114)
$pink: rgb(232, 122, 144)